@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

body {
    font-family: 'Cardo', serif;
}

h1 {
    font-family: 'Martian Mono', monospace;

    .center {
      text-align: center;
      font-size: 80px;
    }

    .link {
      padding-top: 30px;
      padding-bottom: 30px;
    }
}

p {
  font-family: cardo;
  font-size: 20px;
}