@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

#header {
    font-family: 'Martian Mono', monospace;
    font-size: 40px;
    justify-content:center;
    align-items:center;
}

.link-text {
    font-family: 'Cardo', serif;
    font-size: 15px;
    justify-content:center;
    align-items:center;
}

