@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

body {
    font-family: 'Martian Mono', monospace;

    div.fixed {
      position: fixed;
      bottom: 50%;
      left: 50%;
    }
}

h1 {
    font-family: 'Cardo', serif;
    font-size: 30px;
}

p {
  font-family: cardo;
  font-size: 20px;
}